@import "tailwindcss";

@layer utilities {
    .layout-dashboard {
        grid-template-areas:
            "items sidebar";
    }

    .area-items {
        grid-area: items;
    }

    .area-sidebar {
        grid-area: sidebar;
    }

    .product-details-layout {
        display: grid;
        grid-template-areas:
            "image"
            "title"
            "price"
            "desc"
            "button";
        grid-template-columns: 1fr;
    }

    @media (min-width: 768px) {
        .product-details-layout {
            display: grid;
            grid-template-areas:
                ". . image . ."
                ". . title . ."
                ". . price . ."
                ". desc desc desc ."
                ". . button . .";

            grid-template-columns: repeat(5, 1fr);
        }

    }


    .product-image-area {
        grid-area: image;
    }

    .product-title-area {
        grid-area: title;
    }

    .product-description-area {
        grid-area: desc;
    }

    .product-price-area {
        grid-area: price;
    }

    .product-button-area {
        justify-self: center;
        grid-area: button;
    }

}